<div class="cloud-navbar">
    <img src="../../../assets/images/logo/scada-logo.png" alt="scada-logo" class="navbar-logo">
    <div id="navbar-content" >
        <ul class="menu rubik main-menu">
            <div class="top-menu">
                <li routerLink="/trending">
                    <img src="../../../assets/images/icons/device-icon.png" alt="trending-icon" class="navbar-item-icon">
                    Sensors
                </li>
                <li routerLink="/alarms">
                    <img src="../../../assets/images/icons/alarm-icon.png" alt="alarm-icon" class="navbar-item-icon">
                    Alarms
                </li>
                <li routerLink="/database">
                    <img src="../../../assets/images/icons/clock-icon.png" alt="database-icon" class="navbar-item-icon">
                    Clock
                </li>
                <li routerLink="/reports">
                    <img src="../../../assets/images/icons/keyboard-icon.png" alt="report-icon" class="navbar-item-icon">
                    PIN
                </li>
                <li routerLink="/rgb">
                    <img src="../../../assets/images/icons/color-icon.png" alt="report-icon" class="navbar-item-icon">
                    RGB
                </li>
            </div>
            <div class="bottom-menu">
                <li (click)="logout()">
                    <img src="../../../assets/images/icons/logout-icon.png" alt="logout-icon" class="navbar-item-icon navbar-bottom">
                    Log out
                </li>
            </div>

        </ul>
    </div>
</div>
