<div class="trending-page-container" id="trending-page">
    <div class="main-navbar" id="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="workspace" id="workspace">
         <iframe *ngIf="sensor == 'dms'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=1&from=now-24h&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'dus'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=3&from=now-15m&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'dht'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=4&from=now-15m&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'gsg'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=2&from=now-15m&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'pir'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=5&from=now-15m&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'ds'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=6&from=now-15m&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'alarm'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=8" width="82%" height="790px" frameborder="0" ></iframe>


    </div>
</div>



