<table class="trending-table">
    <thead>
        <tr>
            <th>SENSOR</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="redirectToPage('grafana/ds')">
            <td>Door Sensor</td>
        </tr>
         <tr (click)="redirectToPage('grafana/dus')">
             <td>Door Ultrasonic Sensor</td>
        </tr>
        <tr (click)="redirectToPage('grafana/pir')">
            <td>Door Motion Sensor</td>
        </tr>
        <tr (click)="redirectToPage('grafana/dms')">
            <td>Door Membrane Switch</td>
        </tr>
        <tr (click)="redirectToPage('grafana/dht')">
            <td>Digital Humidity/Temperature.</td>
        </tr>
        <tr (click)="redirectToPage('grafana/gsg')">
            <td>Gyroscope</td>
        </tr>
        <tr (click)="redirectToPage('grafana/alarm')">
          <td>Alarms</td>
        </tr>
        <tr>
            <td>Bedroom Infrared</td>
        </tr>
        <tr>
            <td>Bedroom RGB</td>
        </tr>
    </tbody>
</table>
