.container{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    flex-direction: column;
}

.row{
    margin: auto;
    
}

.referral{
    display: flex;
    justify-content: center;
    margin: 10px 15px;
    border: var(--light-gray) 4px solid;
    padding: 10px 20px;
    border-radius: 13px;

}

.referral-img{
    cursor: pointer;
    height: 70px;
    opacity: 0.8;
}

.referral-metadata{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    margin-right: 7px;
}

.referral-name{
    font-size: 24px;
    font-weight: 500;
}

.referral-header{
    display: flex;
}

.referral-body p {
    margin: 0;
    font-size: 14px;
}

.btn-accept{
    border: none;
    background: var(--navy-blue);
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 9px 5px 0px 0;
}

.btn:hover{
    opacity: 0.8 !important;
}

.btn:focus-visible{
    outline: none;
}

.btn-reject{
    border: none;
    background: var(--gray);
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 9px 5px 0px 0;
}